/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button:hover.search-button{
    transform: scale(1.1); 
}



body button:hover{
    transform: scale(1.1); 
}

/*TOPO*/

.header {
    background-color: #0b893d;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
}

button a{
    text-decoration: none;
    color: black;
}

header button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 20px;
    border: 2px solid rgb(22, 72, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.search-bar {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button{
    width: 50%;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px auto;
    border: 2px solid rgb(22, 72, 0);
    cursor: pointer;
    transition: 0.3s ease;
}

/*o resto*/

.intro h1{
    text-align: center;
    margin-top: 29px;
}

.introducao{
    margin-left: 35px;
}

.intro p{
    width: 80%;
    font-size: 22px;
    margin-top: 10px;
    padding: 10px;
    margin: 20px auto;
}

.nome{
    text-align: center;
    margin-top: 35px;
}

.product-list {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* 3 items por linha */
    box-sizing: border-box;
}

/*FOOTER*/

.footerredes {
    padding: 20px 0;
    text-align: center;
    color: white;
    background-color: #0b893d;
}


/*telaadm*/

form{
    margin-left: 20px;
}

.cadastoadm {
    display: flex;
    margin-top: 28px;
    margin-left: 15px;
  
}

